

<div class="container">
    <h1>TASKS</h1>
    <div class="d-flex flex-wrap">


    <% @tasks.each do |task|  %>
        <% if !task.is_assigned%>
            <div class="card mb-5 mx-3" style="width: 18rem;">
                <img class="card-img-top mx-3" src="..." alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title text-center"><%= task.title %></h5>
                    <p class="card-text"><%= task.description%></p>
                    <%= link_to "Show details", task, class:"btn btn-info btn-color" %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
</div>



