<div class="container d-flex justify-content-center">
    <div class="card mb-15 " style="width: 22rem;">
        <img class="card-img-top " src="..." alt="Card image cap">
       
            <div class="card-body">
                <h1> <%= @client.username %></h1>
                <p>Score: <%= @client.score%></p>
            </div>
    </div>
</div>